.btn-box {
  position: fixed;
  top:0;
  left: 0;
}
.aqua {
  width: 200vw;
  height: 1200px;
  background-color: aqua;
}

.beige {
  width: 200vw;
  height: 1200px;
  background-color: beige;
}

.blue {
  width: 200vw;
  height: 1200px;
  background-color: blue;
}